/* about.css */
:root {
    --background-color: #333b3e;
    --section-bg-color: #f4f4f4;
    --text-color-primary: #333;
    --text-color-secondary: #666;
    --text-color-tertiary: #777;
    --font-family: 'Lato', sans-serif;
    --padding: 15px;
    --margin: 20px;
    --border-radius: 10px;
}

body,
html {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-family);
}

.container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.colonna-testo {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.colonna-testo section {
    margin: var(--margin);
    background-color: var(--section-bg-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.colonna-testo h2 {
    text-align: left;
    font-size: 24px;
    color: var(--text-color-primary);
}

.colonna-testo p {
    text-align: left;
    font-size: 16px;
    line-height: 1;
    color: var(--text-color-secondary);
}

.colonna-testo blockquote {
    font-style: italic;
    font-size: 16px;
    color: var(--text-color-tertiary);
}

.colonna-foto {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: var(--margin);
}

.colonna-foto img {
    max-width:1200px;
    max-height:1100px;
    width: auto;
    height: auto;
    border-radius: var(--border-radius);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .colonna-testo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .colonna-foto {
        display: none;
    }
}