body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Lato;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.container {
    background-color: rgb(52, 59, 63);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: aliceblue;
}

.DIV-0 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text-center {
    text-align: center;
}

.DIV-2 {
    background-color: rgb(52, 59, 63);
    text-align: center;
    padding: 1%;
}

.pill-button {
    border: none;
    padding: .67rem 1rem !important;
    display: inline-block;
    margin: .25rem .6rem;
    cursor: pointer;
    border-radius: 1.6rem;
}

#name {
    color: var(--main-text-color);
    text-align: center;
    font-size: 2rem;
}

#social a {
    margin: .2rem;
    font-size: xx-large;
}

.button {
    background-color: #333;
    /* Colore di sfondo */
    border: none;
    border-radius: 20px;
    /* Angoli arrotondati */
    color: white;
    /* Colore del testo */
    padding: 10px 20px;
    /* Spaziatura interna */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    /* Transizione per l'hover */
    cursor: pointer;
}

.button:hover {
    background-color: #555;
    /* Colore di sfondo al passaggio del mouse */
    color: white;
    /* Colore del testo al passaggio del mouse */
}