a {
  text-decoration: none !important;
  font-size: 16px;
}

a:hover {
  text-decoration: none !important;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1rem !important;
  color: aliceblue;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.header {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-family: Lato;
}

.active {
  border-bottom: .1rem solid aliceblue;
  display: inline;
  padding-bottom: .2rem;
  text-decoration: underline;
}

.title {
  background-color: rgba(37, 37, 37, 0.98);
  text-align: center;
  font-size: 1.3rem !important;
  padding: 8px;
  margin-left: 1vw;
  margin-right: 1vw;
}