body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
p {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(52, 59, 63);
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: rgb(52, 59, 63);
}

.pagination a.active {
    font-weight: bold;
    color: rgb(52, 59, 63);
}